header {
  background-color: #212529; /* Цвет фона */
  padding: 15px 0; /* Внутренние отступы сверху и снизу */
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); /* Тень */
  position: sticky; /* Закрепление шапки при прокрутке */
  top: 0; /* Расположение вверху страницы */
  z-index: 1000; /* Индекс по оси Z */
}